{% extends 'main/base.html' %}

{% block title %}Главная страница (CBV){% endblock %}

{% block content %}
<h1>Производители в нашем каталоге (CBV версия)</h1>

{% for manufacturer in manufacturers %}
<div class="manufacturer">
    <h3>
        <a href="{% url 'manufacturer_products_cbv' manufacturer.id %}">
            {{ manufacturer.name }}
        </a>
    </h3>
    <p>Страна: {{ manufacturer.country }}</p>
    <p>Товаров: {{ manufacturer.product_set.count }}</p>
</div>
{% empty %}
<p>Производителей пока нет</p>
{% endfor %}
{% endblock %}

